<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.socket.io/4.8.1/socket.io.min.js"
		integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+"
		crossorigin="anonymous"></script>
	<title>Document</title>
</head>

<body>
	<p>Knappens tilstand er: <span id="knap_tilstand"></span></p>

	<script type="text/javascript" charset="utf-8">
		var socket = io();
		socket.on('button_state', function (e) {

			document.getElementById('knap_tilstand').innerText = e == 1 ? 'Sluppet' : 'Trykket';

			document.body.style.background = e == 1 ? 'pink' : 'salmon';
		});
	</script>
</body>

</html>